<% error = @place.errors.include?(:name) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :name, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :name, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:name) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @place.errors.include?(:address) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :address, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :address, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:address) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @place.errors.include?(:photo) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :photo, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :photo, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:photo) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @place.errors.include?(:phone) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :phone, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :phone, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:phone) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @place.errors.include?(:lat) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :lat, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :lat, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:lat) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @place.errors.include?(:lng) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :lng, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :lng, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:lng) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:places, :index), :class => 'btn btn-default' %>
</div>